body{
    width: 100% !important;
    padding: 0% !important;
    margin: 0 !important;
}

section{
    width: 87.5%;
    padding-left: 12.5%
}

section ul{
    width: 50%;
}

.card ul{
    width: 85%;
}

section > p{
    text-align: left;
}

.banner{
    height: 55%;
    overflow: hidden;
    padding: 0px;
    position: relative;
}

.banner img{
    position:relative;
    height: 100%;
    object-fit: cover;
}

.bannertitle{
    position: absolute;
    top: 5%;
    left: 12.5%
}

.banner .title{
    font-size: 3.5rem;
}

.card{
    width: 48%;
    margin: 0 40px 20px 20px;
    border-radius: 5px;
    padding: 5px 25px;
    background-color: #fffbf2;
}

.cardtitle{
    text-align: center;
    font-size: 1.45rem;
    padding-bottom: 10px;
}

.cardtitle .sidenote{ 
    margin-right: -72%;
    text-align: left;
}

blockquote p{
    font-style: italic;
}

.citetitle{
    font-style: italic;
}

.org{
    font-style: italic;
}

.citation{
    font-style: italic;
}

.concept{
    font-style: italic;
    font-weight: bold;
    font-size: 1.5rem;
}

.frase{
    text-align: right;
    color: #7b7b7b;
}

.inotherwords{
    color: #5c5755;
    font-size: 0.8em;
    border-radius: 5px;
    padding: 3px 6px;
}

h2{
    width: 55%;
}

.acronym{
    color: #998478;
    font-size: 0.85em;
    background-color: #feefdb;
    border-radius: 5px;
    padding: 1px 6px;
}

.sidenote, .marginnote{
    margin-bottom: 20px
}

heading{
    display: none;
}

.toc {
    padding-top: 50px;
    margin-left: 12.5%;
    width: 48%;
}

.toc .intro {
    padding-top: 10px;
    font-style: italic;
    font-size: 1.5rem;
    padding-bottom: 25px;
    color: #5d5858;
}

.toc .entry {
    padding-top: 10px;
    font-style: italic;
    border-top: 1px solid #f3f0ed;
    padding-bottom: 10px;
    background-color: #fffcf7;
}

.toc a {
    text-decoration: none;
    background: inherit;
    padding-left: 12px;
    color: #000;
}


@media screen and (max-width: 760px) {

    section{
    width: 75%;
    }

    section ul {
	padding-left: 10%;
	width: 90%;
    }
    
    .banner{
	height: 60%;
    }

    .toc {
	padding-top: 50px;
	margin-left: 12.5%;
	width: 80%;
    }
    
    .card{
	width: 80%;
	margin: 0 0 20px 0;
	border-radius: 5px;
	padding: 5px 25px;
	background-color: #fffbf2;
    }

    .margin-toggle{
	color: #ef2912;
    }

    h2, h3, h4{
	width: 100%;
    }
}
