#main{
    border-radius: 0px;
    box-shadow: none;
}

.epub-container{
    overflow-x: hidden !important;
}

#divider.show{
    display: none !important;
}

#sidebar{
    background-color: #fcfcfc !important;
}

.list_item a{
    color: #766;
}

.toc_toggle::before{
    content: '▸';
    color:  #766;
}

#sidebar.open #tocView, #sidebar.open #bookmarksView{
    font-size: 13px;
}

#panels{
    background-color: #fcfcfc !important;
    display: flex;
    justify-content: center;
    box-shadow: none;
}

#panels a{
    padding: 0px 10px;
}

#titlebar{
    background-color: #fcfcfc;
    height: 15px;
}

#viewer{
    height: 93%
}