body {
  font-family: valkyrie-text;
  background-color: #fcfcfc;
  font-size: 20px;
  margin: 50px;
  color: #4e4e4e;
}

.dia{
  font-size: 6rem;
  padding-bottom: 5px;
}

.comida{
  padding: 15px 0px;
}

.titulo{
  font-size: 1.8rem;
  color: #959595;
  padding-bottom: 5px;
  border-bottom: 1px dotted #959595;
}
.contenido{
  padding-top: 5px;
}

.menu{
  text-align: center;
  font-size: 2rem;
}

.menuitem{
  padding: 10px;
  cursor: pointer;
}

.menuitem:hover{
  background: #f6f6f6;
}

@media screen and (max-device-width: 480px) {
  
  body{
    margin:10vw;
  }
  
  .dia{
    font-size: 20vw;
  }
}
