@charset "UTF-8";

@font-face { font-family: "et-book";
             src: url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot");
             src: url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot?#iefix") format("embedded-opentype"), url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.woff") format("woff"), url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.ttf") format("truetype"), url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.svg#etbookromanosf") format("svg");
             font-weight: normal;
             font-style: normal; }

@font-face { font-family: "et-book";
             src: url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot");
             src: url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot?#iefix") format("embedded-opentype"), url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.woff") format("woff"), url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.ttf") format("truetype"), url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.svg#etbookromanosf") format("svg");
             font-weight: normal;
             font-style: italic; }

@font-face { font-family: "et-book";
             src: url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot");
             src: url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot?#iefix") format("embedded-opentype"), url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.woff") format("woff"), url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.ttf") format("truetype"), url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.svg#etbookromanosf") format("svg");
             font-weight: bold;
             font-style: normal; }

@font-face { font-family: "et-book-roman-old-style";
             src: url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.eot");
             src: url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.eot?#iefix") format("embedded-opentype"), url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.woff") format("woff"), url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.ttf") format("truetype"), url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.svg#etbookromanosf") format("svg");
             font-weight: normal;
             font-style: normal; }

/* **************** */
/* DESKTOP-ONLY CSS */
/* **************** */
@media screen and (min-width: 650px) {

    div#logo img {  display: block;
                    margin: 10px auto 10px auto; }

    div#content {
        margin-left: 10%;
        margin-right: 20%;
        padding-left: 0;
        line-height: 150%; /* see A/B tests */
    }

    header {
        margin-bottom: 15px;
    }

    div#main {
        margin-left: 0.5em;
        margin-right: 0.5em;
        border: none;
    }

    div#logo { margin-left: -63px; }

    /* uses up too much horizontal whitespace by default: */
    blockquote { margin-left: 10px; }
    blockquote blockquote { margin-left: 10px; }

    div#sidebar {
        width: 133px;
        float: left;

        /* SIDEBAR: add most of the fanciness, particularly the 'block' display which uses up vertical whitespace,
         *  which we can afford on the desktop. */
        /* We want descriptions and tags to be hyphenated/broken
         * when they are too long, otherwise they spill onto the
         * body text, which is ugly and unreadable.
         *
         * CSS courtesy of http://blog.kenneth.io/blog/2012/03/04/word-wrapping-hypernation-using-css/ */
        word-break: break-all;
        font-variant: small-caps;
    }

    div#sidebar-links a {
        display: block;
        font-size: 105%;
        text-decoration: none;
    }

    /* pull the RSS/EMAIL links together */
    div#sidebar-news ul {
        list-style-type: disc;
        padding-left: 20px;
        line-height: 80%;
    }

    div#sidebar-news a {
        display: inline; /* override the `display: block;` so it reads 'NEW: RSS/MAIL' */
        font-size: 105%;
        text-decoration: none;
    }


    /* Table of Contents: on mobile, we want it to be inline, but for desktop, we want it side by side with the content */
    div#TOC {
        float: left;
        width: auto;
        max-width: 20% }

}

/* **************** */
/* MOBILE-ONLY CSS */
/* **************** */
@media screen and (max-width: 649px) {
    /* remove extra lines and stuff from the sidebar: */
    div#sidebar * { display: inline; }
    div#sidebar hr { display:none; }
    div#donations { display:none; }
    div#cse-sitesearch { display:none; }
    div#logo { display: none; }
    /* even less horizontal is available on mobile! */
    blockquote { margin-left: 3px; }
    blockquote blockquote { margin-left: 3px; }

    div#TOC { float: inherit; margin: 5px; }

    /* force source code to fit inside the viewport: */
    pre  { word-wrap: break-word; }
}

/* ********************** */
/* DEVICE-INDEPENDENT CSS */
/* ********************** */
/* CSS by Brendan Long: make lists look better when next to the ToC (eg in 'Links' or 'Bitcoin is Worse is Better'): */
/* "The problem is that if you have a list next to a floated element (the table of contents), the padding gets removed. This looks weird normally, but it’s especially strange with a multi-level list  since everything shows up on the same level. This problem also effects your block quotes (the grey background extends behind the TOC). */
/* Apparently, setting “overflow” on an element creates a new formatting context which fixes this. “overflow: hidden” will do this without actually changing how overflow is handled. Unfortunately, if we do that, the bullet points and numbering inexplicably disappear and we have to move them “inside”. Once we fix that, <li><p>…</p></li> creates two new block contexts, causing blank lines on some bullet points on pages like this. */
/* Note that I’m only messing with non-section children of sections and list elements (not the lists themselves). This is because I’m assuming you want paragraphs and lists to wrap around the TOC" */
/* result: http://imgur.com/lhvneyP */
article>:not(section), article section>:not(section) {
    overflow: auto;
}

html {
    padding: 0px;
    margin: 0px;

    /* see A/B tests */
    background-color: white;
    color: black;

    /* no size set for the font; see A/B tests */

    /* see A/B tests */

    font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    
    /* font-family: Baskerville, "Libre Baskerville", serif; */
}

body {
    margin: 1px;
    max-width: 1600px;
}

header h1 {
    /* font-size: 170%;  */
    font-size: 2.2rem;
    text-align: center;
    vertical-align: middle;
}
/* uppercase page title, all section headers; see A/B tests */
h1, h2, h3, h4, h5 { 
                     /* prevent overlapping, per Wei: */
                     font-style: italic;
                     font-weight: 400;
                     margin-top: 2.1rem;
                     margin-bottom: 2.1rem;
                     line-height: 1; }

/* center the ads so they don't look aligned with the content & part of the content */
div#adsense { text-align: center;
              max-width: 100%;
              overflow-x: hidden; }

/* metadata customization: */
div#description { font-size: 95%; }
div#tags, div#page-created, div#last-modified, div#license { font-size: 80%; }

div#footer {
    padding-top: 30px;
    clear: both;
    font-size: 90%;
    text-align: center;
}

div#disqus_thread { padding-left: 0.5em; }

/* link colors and underlining */
a {
    color: #303C3C; /* off-black */
}
article a { word-wrap: break-word; /* force the occasional inline URL or other long word to break at max-width */
            text-decoration: none;
}

/* Tufte CSS for underlining (https://github.com/edwardtufte/tufte-css)
   The advantage of all this CSS linenoise compared to the previous 'text-decoration: none; border-bottom: 1px Solid grey;' solution from http://devhints.wordpress.com/2006/10/24/css-links-with-different-color-underlines/
   is that when dealing with characters with 'descenders', like 'y', 'g', 'p', 'q' etc, with regular underlining the bottom stroke overlaps with the line and it's harder to read;
   by adding this text-shadow stuff and backgrounding, a little break is made in the underline to add contrast and keep the descender fully visible and outlined.
   Unfortunately, we don't want to add underlines to the TOC because it clutters it (all the lines are links and are in small font), so we have to avoid styling the TOC, which is difficult.
   I got around this by adding in the Hakyll template an additional <div> just for the body of the Markdown content, excluding the TOC, and changing the Tufte CSS to target *that* instead. */
/* egin Tufte CSS */
div#markdownBody a:link {
         text-decoration: none;
         background: -webkit-linear-gradient(#fffff8, #fffff8), -webkit-linear-gradient(#fffff8, #fffff8), -webkit-linear-gradient(#333, #333);
         background: linear-gradient(#fffff8, #fffff8), linear-gradient(#fffff8, #fffff8), linear-gradient(#333, #333);
         -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
         -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
         background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
         background-repeat: no-repeat, no-repeat, repeat-x;
         text-shadow: 0.03em 0 #fffff8, -0.03em 0 #fffff8, 0 0.03em #fffff8, 0 -0.03em #fffff8, 0.06em 0 #fffff8, -0.06em 0 #fffff8, 0.09em 0 #fffff8, -0.09em 0 #fffff8, 0.12em 0 #fffff8, -0.12em 0 #fffff8, 0.15em 0 #fffff8, -0.15em 0 #fffff8;
         background-position: 0% 93%, 100% 93%, 0% 93%; }
div#markdownBody a:link::selection {
    text-shadow: 0.03em 0 #b4d5fe, -0.03em 0 #b4d5fe, 0 0.03em #b4d5fe, 0 -0.03em #b4d5fe, 0.06em 0 #b4d5fe, -0.06em 0 #b4d5fe, 0.09em 0 #b4d5fe, -0.09em 0 #b4d5fe, 0.12em 0 #b4d5fe, -0.12em 0 #b4d5fe, 0.15em 0 #b4d5fe, -0.15em 0 #b4d5fe;
                    background: #b4d5fe; }
div#markdownBody a:link::-moz-selection {
    text-shadow: 0.03em 0 #b4d5fe, -0.03em 0 #b4d5fe, 0 0.03em #b4d5fe, 0 -0.03em #b4d5fe, 0.06em 0 #b4d5fe, -0.06em 0 #b4d5fe, 0.09em 0 #b4d5fe, -0.09em 0 #b4d5fe, 0.12em 0 #b4d5fe, -0.12em 0 #b4d5fe, 0.15em 0 #b4d5fe, -0.15em 0 #b4d5fe;
    background: #b4d5fe;}
/* end Tufte CSS */

h2 {
    font-size: 2.0rem;
    /* font-size: 150%; */
    /* text-transform: uppercase; */
}

h3 {
    font-size: 1.7rem;
    /* font-size: 130%; */
    /* text-transform: uppercase; */
}

div.column {
    width: 50%;
    float: left;
}

/* 'figure' because we don't want to force these settings on normal inline images, like those used in _Radiance_ */
figure img {
    display: block;
    margin: 5px auto 5px auto;
    border: none;

    /* resize images based on browser width: 'fluid images'; see
       http://unstoppablerobotninja.com/entry/fluid-images/
       http://blog.kurtschindler.net/post/flexible-dynamically-resizing-images-with-css
       http://stackoverflow.com/questions/787839/resize-image-proportionally-with-css
       Unfortunately, this will cause reflowing as images load and turn out to be too big & have to be rescaled...
       No apparent way to avoid this without a lot of CSS/JS hacks */
    max-width: 100%;
    height: auto;
}

ul {
    /* see A/B tests */
    list-style-type: square;
}

code {
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(200, 200, 200);
    padding-left: 4px;
    padding-right: 4px;
    /* Tufte CSS's monospace/sans suggestions, borrowing from Github: */
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

pre code {
    display: block;
    padding: 8px;
    margin-bottom: 2em;
}

p.caption {
    display: none;
}

p { margin-top: -0.2em;
    margin-bottom: 0 }

/* how much to indent successive paragraphs; see A/B tests */
p + p {
    /* text-indent: 2em; */
    margin-top: 0 }

p.hang { text-indent: -0.44em }

.num { font-size: 85%; }

/* Table of Contents */
div#TOC {
    /* see A/B tests */
    border: 1px solid #cccccc;
    background-color: #f9f9f9;
    /* Baskerville isn't quite as clear at small font sizes like in the ToC */
    font-family: "Lucida Sans Unicode", "Lucida Grande", "Trebuchet MS", Helvetica, sans-serif;
    padding: 0 0.5rem;
    /* Force a margin big enough that
       bulleted items won't overlap the
       blue-shaded area of the ToC */
    margin-right: 20px;
    line-height: 105%;
}
div#TOC li {
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 2px;
}
div#TOC li li {
    margin-bottom: 0px;
    font-weight: normal;
    font-size: 90%;
}
div#TOC p {
    margin-top: 9px;
    margin-bottom: 3px;
}
div#TOC ul {
    list-style-type: none;
    padding-left: 0em;
    margin-bottom: 0px;
    margin-top: 4px;
    padding-left: 1.4em;
    text-indent: -1.4em;
}
div#TOC ul ul {
    list-style-type: none;
    padding-left: 0.7em;
    margin-top: 2px;
}
div#TOC a {
    border: 0px;
}
div#TOC a:hover {
    text-shadow: 1px 1px 3px #777;
}

div#TOC + ul { max-width: 170px; }

/*
 * Tables.less
 * Tables for, you guessed it, tabular data
 * ---------------------------------------- */
/* from Twitter's bootstrap package; adds grid-lines to table */
table {
    width: 100%;
    margin-bottom: 18px;
    padding: 0;
    border-collapse: separate;
    /* *border-collapse: collapse;
       IE7, collapse table to remove spacing */
    font-size: 13px;
    border: 1px solid #ddd;
    border-radius: 4px;
    /* align columns of numbers on their decimal points:
    http://www.w3.org/TR/css3-text/#text-align https://developer.mozilla.org/en-US/docs/Web/CSS/text-align http://blog.adrianroselli.com/2013/05/my-kingdom-for-decimal-alignment-on.html */
    text-align: "." right;
}
table th, table td {
    padding: 10px 10px 9px;
    line-height: 18px;
    text-align: left;
}
table th {
    padding-top: 9px;
    font-weight: bold;
    vertical-align: middle;
    border-bottom: 1px solid #ddd;
}
table td {
    vertical-align: top;
}
table th + th, table td + td {
    border-left: 1px solid #ddd;
}
table tr + tr td {
    border-top: 1px solid #ddd;
}
table tbody tr:first-child td:first-child {
    border-radius: 4px 0 0 0;
}
table tbody tr:first-child td:last-child {
    border-radius: 0 4px 0 0;
}
table tbody tr:last-child td:first-child {
    border-radius: 0 0 0 4px;
}
table tbody tr:last-child td:last-child {
    border-radius: 0 0 4px 0;
}

/* Add little icons to tables handled by tablesorter.js
   to advertise that they are sortable.
   http://tablesorter.com/docs/#Configuration */
th.header {
    background-image: url(/static/img/bg.gif);
    cursor: pointer;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 20px;
    border-right: 1px solid #dad9c7;
    margin-left: -1px;
}
th.headerSortUp {
    background-image: url(/static/img/small_asc.gif);
    background-color: #79BEDB;
}
th.headerSortDown {
    background-image: url(/static/img/small_desc.gif);
    background-color: #79BEDB;
}

/* zebra-stripe tables (CSS3); from Twitter's bootstrap package */
tbody tr:nth-child(odd) td {
    background-color: #f9f9f9;
}
tbody tr:hover td {
    background-color: #f5f5f5;
}

/* CSS written by cwillu of #lesswrong in order to rewrite the Modafinil page's table of prices */
#suppliers-prices td,#suppliers-prices th { padding: 0px 15px; }
#suppliers-prices td:nth-child(1):after { content: "mg/$" }
#suppliers-prices td:nth-child(2) { text-align: right; }
#suppliers-prices td:nth-child(2):after { content: "mg" }
#suppliers-prices td:nth-child(3):before { content: "x" }
#suppliers-prices td:nth-child(5):before { content: "$" }

/* rejigger whitespace inside lists per quicksilver of #haskell */
li { margin-top: 0.5em; }
li p { margin: 0.2em; }

/* Add very modest drop shadows, partially inspired by http://nicolasgallagher.com/css-drop-shadows-without-images/demo/
   Note the awful hack by which we implement 'alternating'/zebra-stripe coloring of quotes.

   See A/B tests: this highlighting is better than no highlighting */
blockquote, blockquote blockquote blockquote, blockquote blockquote blockquote blockquote blockquote {
    z-index: -2;
    background-color: rgb(245, 245, 245); }
blockquote blockquote, blockquote blockquote blockquote blockquote, blockquote blockquote blockquote blockquote blockquote blockquote {
    background-color: rgb(235, 235, 235); }

/* very lightly highlight non-block quotations somewhat similar to above; thanks to puritan and #lesswrong for help */
/* WARNING: apparently browsers will display correctly quotation marks when <q> elements are used, but will not preserve them in copy-paste‽ */
q {background-color:rgba(0,0,0,0.02);}
blockquote > p:only-of-type q:only-of-type {background-color:inherit}

/* left-hanging quotes:
http://css-tricks.com/almanac/properties/h/hanging-punctuation/ http://www.w3schools.com/cssref/css3_pr_hanging-punctuation.asp http://www.w3.org/TR/css3-text/#hanging-punctuation0 */
blockquote, p {
  hanging-punctuation: first;
}

/* make footnotes better: http://bytes.com/topic/html-css/answers/97932-superscript-doesnt-distort-line-spacing#post340658 */
sub, sup { line-height: 0.3em; }
/* TODO: experimental hack around the problems caused by superscript line-height change inside blockquotes' first line: */
/* blockquote { overflow: visible !important; } */
blockquote { padding-top: 6px; }

/* http://ignorethecode.net/blog/2010/04/20/footnotes/
   If we don't have this CSS for the popup/floating footnotes, they're too see-through and unreadable.

   Note: setting `opacity: 1;` in this CSS doesn't seem to set the footnote appearance to fully opaque,
   so I've edited the opacity calls in `footnotes.js` to force it */
#footnotediv div {
    background-color: white;
    padding: 3px;
    padding: 12px;
    max-width: 800px;
    border: 1px solid #CDBBB5;
}

hr {
    margin-top: 3.0rem;
    margin-bottom: 1.0rem;
    margin-right: 200px;
}

.footpara {
    font-size: 0.85rem;
}

#postamble p{
    font-size: 90%;
    margin-top: 5em;
    margin-bottom: 2rem;
    text-align: center;
    color: #868686;
}

/* Deal with multiple footnotes one after another; per Charuru */
sup + sup { margin-left: 2px; }

/* Sourcecode highlighting; generated by pandoc. */
table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode, table.sourceCode pre
   { margin: 0; padding: 0; border: 0; vertical-align: baseline; border: none; }
td.lineNumbers { border-right: 1px solid #AAAAAA; text-align: right; color: #AAAAAA; padding-right: 5px; padding-left: 5px; }
td.sourceCode { padding-left: 5px; }
.sourceCode span.kw { color: #007020; font-weight: bold; }
.sourceCode span.dt { color: #902000; }
.sourceCode span.dv { color: #40a070; }
.sourceCode span.bn { color: #40a070; }
.sourceCode span.fl { color: #40a070; }
.sourceCode span.ch { color: #4070a0; }
.sourceCode span.st { color: #4070a0; }
.sourceCode span.co { color: #60a0b0; font-style: italic; }
.sourceCode span.ot { color: #007020; }
.sourceCode span.al { color: red; font-weight: bold; }
.sourceCode span.fu { color: #06287e; }
.sourceCode span.re { }
.sourceCode span.er { color: red; font-weight: bold; }
