/* Fonts */
@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto_regular.woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto_bold.woff2');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto_light.woff2');
    font-weight: light;
    font-style: normal;
}
@font-face {
    font-family: 'roboto slab';
    src: url('../fonts/roboto_slab.woff2');
    font-weight: normal
    font-style: normal;
}

@keyframes fadein1{
    from {color: transparent}
    to {color: #abe8d9;}
}
@keyframes fadein2{
    0% {color: transparent}
    40% {color: #f39191}
    100% {color: #777474}
}
@keyframes circlefadein{
    0% {fill: #e4f9f4;; stroke: #56f9e5; stroke-with: 1px}
    70% {fill: #57beff;stroke: #57beff;stroke-width: 3px;}
    100% {fill: #57beff;stroke: #57beff;stroke-width: 2px;}
}
@keyframes textclick{
    0% {text-shadow: 1px 1px 0px #fb038f}
    70% {text-shadow: 1px 1px 2px #fb038f}
    100% {text-shadow: 1px 1px 0px #fb038f}
}
@keyframes colorin{
    0% {color: #000}
    100% {color: #6c5fea}
}
@keyframes onboard{
    0% {color: #f4fcff}
    70% {color: #0bc3ff;}
    100% {color: #57beff;}
}
@keyframes selection{
    0% {fill: #e4f9f4;; stroke: #56f9e5; stroke-with: 1px}
    70% {fill: #ff7070; stroke: #ff7070; stroke-width: 8px }
    100% {fill: #ff7070; stroke: #ff7070; stroke-width: 6px }
}

/* All */
body{
    font-family: 'roboto';
}
#composition{
    overflow-y: hidden;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0
}

/* Circle and article container */
#articlecontainer{
    border-radius: 3%;
    border-bottom: 6px solid rgba(218, 165, 126, 0.3);
    padding: 20px 30px 30px 30px;
    background-color: #fffcfc;
    width: 450px;
    margin-bottom: 100px;
}

/* Circle */
#circle{
    width: 46%;
    padding-top: 30px;
    float: right;
    overflow-y: auto;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    box-sizing: content-box;
    background-color: #fff8f6;
    padding-left: 5%;
}
#circle::-webkit-scrollbar {
 display: none;
}
#circle svg{
    width: 450px;
    height: 480px;
}
circle {
    fill: #e4f9f4;
    cursor:pointer;
    stroke: #56f9e5;
    stroke-width: 0.5px;
}

/* Title on top of circle */
#arc{
    fill: none;
    stroke: none
}
#circletitle{
    font-family: roboto;
    font-size: 20px;
    fill: #a1f4ed;
}

/* Tags */
.tag{
    fill: #57beff;
    stroke: #57beff;
    animation-name: circlefadein;
    animation-duration: 0.5s;
}
.tagselection{
    color: #57beff !important;
}

/* Article */
.selected{
    fill: #ff7070;
    stroke: #ff7070;
    stroke-width: 6px;
    animation-name: selection;
    animation-duration: 0.2s;
}
#article{
    text-align: center;
    width: 450px;
}
#articlecontent{
    color: #777474;
    font-size: 14px;
    padding-top: 20px;
    animation-name: fadein2;
    animation-duration: 0.8s;
}
#articlesummary{
    color: #777474;
    text-align: center;
    font-style: italic;
    font-size: 0.9em;
    padding: 25px 25px;
    animation-name: fadein2;
    animation-duration: 0.8s;
}
#asociaciones{
    padding: 15px 0px;
}
#asocintro{
    font-size: 0.8em;
    color: #777474;
    margin: 0 0 10px 0;
    /* animation-name: fadein2; */
    /* animation-duration: 0.8s; */
}
.asocselected{
    color: #57beff !important;
}
.asociacion{
    font-size: 0.9rem;
    color: #abe8d9;
    cursor: pointer;
    /* animation-name: fadein1; */
    /* animation-duration: 0.8s; */
    margin: 6px 0px;
    font-family: roboto slab;
    text-align: left;
}
#article hr{
    border-top: 1px dotted #f1bbbb;
    border-bottom: 1px dotted #fff;
    margin: 0px 19px;
}
.nohr{
    display:none;
}
.plain{
    max-width: 400px;
    margin:auto;
    line-height: 1.6;
    text-align: justify;
    padding: 10px 0px;
}
.prefixedparagraph{
    padding: 7px 0px;
    max-width: 400px;
    margin:auto;
    line-height: 1.6;
    text-align: justify;
}
.prefix{
    width: 10px;
    float: left;
    text-align: left;
}
.prefixed{
    width: 350px;
    margin-left: 30px;
}
#article h3{
    font-family: "roboto slab";
    font-weight: normal;
    padding-top: 20px;
    max-width: 450px;
    margin:auto;
    font-size: 18px;
    line-height: 1.5;
    color: #777474;
    text-align: center;
    text-decoration: underline wavy red;
}

/* Text inside circle */
foreignObject body {
    height: 100%
}
foreignObject div{
    display:table;
    text-align: center;
    height: 100%;
    margin: auto;
}
#circletext{
    font-family: roboto slab;
    display:table-cell;
    vertical-align: middle;
    font-size: 18px;
    line-height: 1.5;
    color: #57beff;
    text-align: center;
    animation-name: onboard;
    animation-duration: 1s;
}
.enlarge{
    font-size: 60px !important;
}
.shrink{
    font-size: 15px !important;
}
#onboard{
    font-family: 'roboto slab';
    display:table-cell;
    vertical-align: middle;
    font-size: 19px;
    line-height: 1.5;
    color: #57beff;
    text-align: center;
    animation-name: onboard;
    animation-duration:2s;
}

/* Narrative */
#narrative{
    font-family: "roboto slab";
    color: #b7a2a2;
    width: 49%;
    font-size: 1.15rem;
    line-height: 1.7;
    float:left;
    overflow-y: auto;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    box-sizing: content-box;
    background-color: #fffbfa;
}
#narrative::-webkit-scrollbar {
    display: none;
}
#content p{
    padding: 12px 0;
    text-align: left;
}
#content h3{
    padding: 70px 0 30px 0;
    line-height: 1.2;
    text-align: center;
    font-family: 'roboto slab';
    font-size: 3rem;
    font-weight: normal;
    margin: 0px;		     
    color: #f8bebe;
}
#content p:last-child{
    padding-bottom: 50px;
}
#content span{
    color: #abe8d9;
    cursor:pointer;
    position: relative;
    transition: text-shadow 0.5s ease-in-out;
}
#content span:hover{
    color: #57beff;
}
ul{
    background-color: #ffffff;
    border-radius: 15px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    list-style: circle;
    color: #ffe0cf;
    text-align: left;
}
li{
    font-size: 0.80em !important;
    padding-top: 7px;
    border-bottom: 1px dashed #ffe0cf;
    padding-bottom: 7px;
}
li:last-child{
    border-bottom: none;
}
#narrative > *:last-child {
    margin-bottom: 70px;
}
.imgcontainer{
    max-height: 500px;
    overflow: hidden;
    padding: 0px;
    position: relative;
    text-align: center;
}
#img{
    position:relative;
    width: 100%;
    height: auto;
}
.title{
    position: absolute;
    top:35%;
    left: 40%;
    transform: translate(-30%, -50%);
    line-height: 1.2;
    text-align: center;
    font-family: 'roboto';
    font-size: 1rem;
    font-weight: normal;
    color: #e67373;
}
.title p{
    margin: 10px;
}
#title{
    color: #e67373;
    font-size: 2.2rem;
    text-shadow: -1px -1px 0 #ffeaec, 1px -1px 0 #ffeaec, -1px 1px 0 #ffeaec, 1px 1px 0 #ffeaec;
}
#content{
    padding: 0px 17% 0px 17%;
}
