/* Fonts */
@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto_regular.woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto_bold.woff2');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto_light.woff2');
    font-weight: light;
    font-style: normal;
}
@font-face {
    font-family: 'roboto slab';
    src: url('../fonts/roboto_slab.woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ruda';
    src: url('../fonts/ruda_regular.woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ruda';
    src: url('../fonts/ruda_bold.woff2');
    font-weight: bold;
    font-style: normal;
}

/* Animations */
@keyframes fadein{
    0% {opacity: 0}
    100% {opacity: 1}
}
@keyframes colorin{
    0% {color: #000}
    100% {color: #f35454}
}
@keyframes onboard{
    0% {color: #d8d7d7}
    70% {color: red}
    100% {color: #f32121}
}
@keyframes selection{
    0% {fill: #d8d7d7; stroke: #d8d7d7; stroke-with: 1px}
    70% {fill: #f35454; stroke: #f35454; stroke-width: 8px }
    100% {fill: #f35454; stroke: #f35454; stroke-width: 6px }
}

body{
    font-family: 'roboto';
}

/* Circle */
#circle{
    width: 100%;
}
#circle svg{
    width: 100%;
    height: 300px;
}
circle {
    fill: #d8d7d7;
    cursor:pointer;
    stroke-width: 5px
}

/* Circle Title */
#arc{
    fill: none;
    stroke: none
}
#circletitle{
    font-family: ruda;
    font-size: 20px;
    fill: #000
}

/* Tags */
.tag{
    fill: #000;
    animation-name: fadein;
    animation-duration: 1s
}
.tagselection{
    color: #f32121 !important;
    animation-name: colorin;
    animation-duration: 0.1s;
}

/* Article display*/
.selected{
    fill: #f35454;
    stroke: #f35454;
    stroke-width: 6px;
    animation-name: selection;
    animation-duration: 0.2s
}
#article{
    text-align: center;
    padding-top: 10px;
}
#articlecontent{
    padding: 0 10px;
}
#article div{
    animation-name: fadein;
    animation-duration: 0.5s
}
.plain{
    margin:auto;
    font-size: 12px;
    line-height: 1.6;
    color: #000;
    text-align: center;
    padding: 10px 0px;
}
.prefixedparagraph{
    padding: 7px 0px;
    margin:auto;
    font-size: 12px;
    line-height: 1.6;
    color: #000;
    text-align: left;
}
.prefix{
    width: 10px;
    margin:0;
    position: absolute;
    text-align: left
}
.prefixed{
    margin-left: 30px;
}
#article h3{
    font-weight: normal;
    padding: 5px 0px 15px 0px;
    max-width: 450px;
    margin:auto;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
    text-align: center;
    animation-name: fadein;
    animation-duration: 0.5s;
}

/* Text inside circle */
foreignObject body {
    height: 100%
}
foreignObject div{
    display:table;
    text-align: center;
    height: 100%;
    margin: auto;
}
#circletext{
    display:table-cell;
    vertical-align: middle;
    font-size: 15px;
    line-height: 1.5;
    color: #000;
    text-align: center;
}
.enlarge{
    font-size: 50px !important;
}
#onboard{
    font-family: 'ruda';
    display:table-cell;
    vertical-align: middle;
    font-size: 15px;
    line-height: 1.5;
    color: #f35454;
    text-align: center;
    animation-name: onboard;
    animation-duration:2s;
}

/* Narrative */
#narrative{
    font-family: "roboto slab";
    color: #000;
    padding-top: 5%;
    width: 100%;
    font-size: 1rem;
    line-height: 1.6;
}
#narrative p{
    padding: 0 10px;
}
#narrative h3{
    line-height: 1.2;
    text-align: center;
    font-family: 'ruda';
    font-size: 3rem;
    color: #000;
    font-weight: normal;
    margin: 0px;
    padding: 10px 0 30px 0;
}
#narrative span{
    color: #000;
    cursor:pointer;
    font-weight: bold;
}
